In [1]:
print ("Hello Py38 - Nirmal & Anand")

Hello Py38 - Nirmal & Anand

In [2]:
"Hello Py38 - Again"

'Hello Py38 - Again'

In [3]:
1

1

In [9]:
123456789.0**9

6.662462759719942e+72

Euler's identity: $ e^{i \pi} + 1 = 0 $

### RMSE equation - Markdown cells 
- Bullet1

$$
\sqrt{\frac{1}{m}\sum_{i=1}^m(y_i - \hat{y}_i)^2}
$$

# Learn
- https://www.kaggle.com/learn/python - Python
- https://www.kaggle.com/learn/ - other related courses

In [27]:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
{'Jan':0, 'Feb':1, 'Mar':2, 'Apr':3, 'May':4, 'Jun':5, 'Jul':6, 'Aug':7, 'Sep':8, 'Oct':9, 'Nov':10, 'Dec':11}

{'Jan': 0,
 'Feb': 1,
 'Mar': 2,
 'Apr': 3,
 'May': 4,
 'Jun': 5,
 'Jul': 6,
 'Aug': 7,
 'Sep': 8,
 'Oct': 9,
 'Nov': 10,
 'Dec': 11}

In [12]:
a = 5
b = 10
c = a + b
d=a,b,c
d, d[0], d[1]

((5, 10, 15), 5, 10)

In [13]:
a,b = b,a
a,b,c

(10, 5, 15)

In [14]:
def square(x):
	x = x * x
	return x

square(2), square(3), square(a), square(b),square(c)

(4, 9, 100, 25, 225)

In [15]:
a1 = [ 2,3,a,b,c]
[ square(x) for x in a1]

[4, 9, 100, 25, 225]

In [19]:

[ (x , x**2) for x in [2,3,a,b,c] ]

[(2, 4), (3, 9), (10, 100), (5, 25), (15, 225)]

In [2]:
#declare a variable 
a = 5

# declare a list
my_list = [1, 2, 3, 4, 5]

# declare a tuple
my_tuple = (1, 2, 3, 4, 5)

# declare a dictionary
my_dict = {'Jan':0, 'Feb':1, 'Mar':2, 'Apr':3, 'May':4, 'Jun':5, 'Jul':6, 'Aug':7, 'Sep':8, 'Oct':9, 'Nov':10, 'Dec':11}

#declare a set
my_set = {1, 2, 3, 4, 5}

# declare a string
my_string = "Hello World"

# declare a boolean
my_bool = True

#declare a float
my_float = 1.23

#declare a complex
my_complex = 1+2j

#declare a range
my_range = range(10)

In [3]:
( 
	[x for x in my_list] ,
	[x for x in my_tuple] ,
	[x for x in my_set] ,
	[x for x in my_string] ,

	[x for x in my_range] ,
	[x for x in my_dict] ,
)

([1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 ['Jan',
  'Feb',
  'Mar',
  'Apr',
  'May',
  'Jun',
  'Jul',
  'Aug',
  'Sep',
  'Oct',
  'Nov',
  'Dec'])

In [25]:
days_in_months = { 'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31 }

for month, days in days_in_months.items():
    print (month, days)

[ ( days, month) for month, days in days_in_months.items() ]

{ kv:kv[1] for kv in days_in_months.items() }

Jan 31
Feb 28
Mar 31
Apr 30
May 31
Jun 30
Jul 31
Aug 31
Sep 30
Oct 31
Nov 30
Dec 31

{('Jan', 31): 31,
 ('Feb', 28): 28,
 ('Mar', 31): 31,
 ('Apr', 30): 30,
 ('May', 31): 31,
 ('Jun', 30): 30,
 ('Jul', 31): 31,
 ('Aug', 31): 31,
 ('Sep', 30): 30,
 ('Oct', 31): 31,
 ('Nov', 30): 30,
 ('Dec', 31): 31}

In [30]:
days_in_months.keys() , days_in_months.values(), set(days_in_months.keys()) ,set(days_in_months.values())

(dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']),
 dict_values([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]),
 {'Apr',
  'Aug',
  'Dec',
  'Feb',
  'Jan',
  'Jul',
  'Jun',
  'Mar',
  'May',
  'Nov',
  'Oct',
  'Sep'},
 {28, 30, 31})

In [33]:
cards = [ 'A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K' ]
suites = ['♠', '♡', '♢', '♣']

# deck = [ (suite, card) for card in cards for suite in suites ]
deck = [ f"{card:>2s}{suite}" for card in cards for suite in suites ]
len(deck)
deck[0:13]

[' A♠',
 ' A♡',
 ' A♢',
 ' A♣',
 ' 2♠',
 ' 2♡',
 ' 2♢',
 ' 2♣',
 ' 3♠',
 ' 3♡',
 ' 3♢',
 ' 3♣',
 ' 4♠']

In [36]:


# deck = [ f"{card}{suite}" for card in cards for suite in suites ]


print(deck[0:5])


# shuffle the deck
import random
random.shuffle(deck)
print(deck[0:5])

# random.shuffle(deck)
# print(deck[0:5])

[' 5♣', ' 3♣', ' J♢', ' A♠', ' 3♠']
[' J♠', ' Q♡', '10♠', ' K♠', ' 9♡']

In [40]:
# deal the cards
hands = [ deck[0:13], deck[13:26], deck[26:39], deck[39:52] ]
[ ' '.join(x) for x in hands]

# filter the deck
[ x for x in hands[1] if 'A' in x ]

[' A♠', ' A♢']

In [42]:
import glob
[ f for f in glob.glob("*") if '~' not in f ]

['01.ipynb']

In [27]:
import glob
[ f1 for f0 in glob.glob("../*") for f1 in glob.glob(f0 + "/*") ]

['../kovida/r_08_1.mp3',
 '../kovida/क_02.mp3',
 '../kovida/क_03.mp3',
 '../kovida/k10.jpg',
 '../kovida/क_07.mp3',
 '../kovida/क_06.mp3',
 '../kovida/क_10.mp3',
 '../kovida/क_04.mp3',
 '../kovida/क_05.mp3',
 '../kovida/क_11.mp3',
 '../kovida/r_02.mp3',
 '../kovida/a1.txt',
 '../kovida/r_03.mp3',
 '../kovida/k1.jpg',
 '../kovida/output.mkv',
 '../kovida/k3.jpg',
 '../kovida/kovida_04.mp4',
 '../kovida/k2.jpg',
 '../kovida/k6.jpg',
 '../kovida/r_04.mp3',
 '../kovida/r_10.mp3',
 '../kovida/xx1.mp3',
 '../kovida/r_05.mp3',
 '../kovida/kovida.jpg',
 '../kovida/k7.jpg',
 '../kovida/k5.jpg',
 '../kovida/r_07.mp3',
 '../kovida/feeble.mp3',
 '../kovida/r_06.mp3',
 '../kovida/k4.jpg',
 '../kovida/_x',
 '../kovida/k9.jpg',
 '../kovida/_zap.mp3',
 '../kovida/readme.md',
 '../kovida/क_08_1.mp3',
 '../kovida/k8.jpg',
 '../kovida/r_08.mp3',
 '../kovida/r_09.mp3',
 '../kovida/mp4',
 '../kovida/क_08.mp3',
 '../kovida/क_09.mp3',
 '../kovida/k08_1.jpg',
 '../kovida/concat.txt',
 '../posts/vgj_raw.md',
 '../posts/vgj_fix.md',
 '../python/01.ipynb']

In [43]:
# print version of python
import sys
print (sys.version)

3.8.10 (default, May 19 2021, 11:01:55)
[Clang 10.0.0 ]

In [47]:
!rm ./01~.py 2>/dev/null
!date
!~/anaconda3/bin/jupyter nbconvert 01.pynb --to script 2>&1 | tee ~/tmp/nbconvert.log

Sun Nov 21 19:50:54 IST 2021
[NbConvertApp] WARNING | pattern '01.pynb' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--debug
    set log level to logging.DEBUG (maximize logging output)
--generate-config
    generate default config file
-y
    Answer yes to any questions instead of prompting.
--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--stdout
    Write notebook output to stdout instead of files.
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--no-prompt
    Exclude input and output prompts from converted document.
--no-input
    Exclude input cells and output prompts from converted document.
    This mode is ideal for generating code-free reports.
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--config=<Unicode> (JupyterApp.config_file)
    Default: ''
    Full path of a config file.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats, or a
    dotted object name that represents the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: ''
    Name of the template file to use
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: ''
    PostProcessor class used to write the results of the conversion
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: ''
    The URL prefix for reveal.js (version 3.x). This defaults to the reveal CDN,
    but can be any url pointing to a copy  of reveal.js.
    For speaker notes to work, this must be a relative path to a local  copy of
    reveal.js: e.g., "reveal.js".
    If a relative path is given, it must be a subdirectory of the current
    directory (from which the server is run).
    See the usage documentation
    (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-
    slideshow) for more details.
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides']

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py

In [56]:
GG = 110

def H(x):
	global GG
	GG =57777
	return GG+x+1

H(GG), GG

(57888, 110)

In [60]:
!cat x*

print("Hello World")

In [61]:
# write a string to file using with
with open("xx~.py", "w") as f:
	f.write("print(\"Hello World\")")

# read a file using with
with open("xx~.py", "r") as f:
	lines = f.readlines()

len(lines), lines

(1, ['print("Hello World")'])

In [ ]:
# create a class
class MyClass:
	def __init__(self, x):
		self.x = x
	def __str__(self):
		return str(self.x)

In [64]:
# create a  useful class
class Point:
	def __init__(self, x, y):
		self.x = x
		self.y = y

	def __repr__(self):
		return f"Data({self.x}, {self.y})"

	def __str__(self):
		return f"({self.x}, {self.y})"

	def __add__(self, other):
		return Point(self.x + other.x, self.y + other.y)

	def __sub__(self, other):
		return Point(self.x - other.x, self.y - other.y)

d0 = Point(1, 2)
d1 = Point(3, 4)

print(d0, d1)
d0, d1, d1+d0, d1-d0

(1, 2) (3, 4)

(Data(1, 2), Data(3, 4), Data(4, 6), Data(2, 2))

In [ ]:
# implement binary search
def binary_search(a, x, lo=0, hi=None):
	if hi is None:
		hi = len(a)
	while lo < hi:
		mid = (lo + hi) // 2
		if a[mid] < x:
			lo = mid + 1
		else:
			hi = mid
	return lo